.footer {
    padding: 60px 0;
    background-color: $color-blue;
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }
    &__left {
        display: flex;
        align-items: center;
        gap: 22px;
        color: $color-white;
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 22px;
        a {
            color: $color-white;
        }
    }
    @media screen and (max-width:780px ) {
        &__right {
            flex-direction: column;
        }
    }
}